<div class="container">
    <div class="main-logo wood-background">
        <%= image_tag 'logos/logo_you_can_trust.png', size: '418x418' %>
    </div>

    <div class="offers">
        <div class="offers-logo">
            <%= image_tag 'logos/round_logo_39.png', size: '39x39' %>
        </div>

        <%= image_tag 'offers.png', size: '153x30' %>
    </div>

    <div class="wood-separator"></div>

    <div class="banner">
        <%= image_tag 'banners/visual_identity.jpg', size: '1200x244', class: 'banner-img' %>
    </div>

    <div class="previews">
        <%= link_to image_tag('previews/visual_identity/pentagon.jpg', size: '298x205'), '#', class: 'preview-img' %>
        <%= link_to image_tag('previews/visual_identity/horse.jpg', size: '298x205'), '#', class: 'preview-img' %>
        <%= link_to image_tag('previews/visual_identity/uprooting.jpg', size: '298x205'), '#', class: 'preview-img' %>
    </div>

    <div class="banner">
        <%= image_tag 'banners/video_animation.jpg', size: '1200x243', class: 'banner-img' %>
    </div>

    <div class="previews">
        <%= link_to image_tag('previews/video_animation/uprooting.jpg', size: '298x205'), '#', class: 'preview-img' %>
        <%= link_to image_tag('previews/video_animation/pocket.jpg', size: '298x205'), '#', class: 'preview-img' %>
        <%= link_to image_tag('previews/video_animation/toxic.jpg', size: '298x205'), '#', class: 'preview-img' %>
    </div>

    <div class="banner">
        <%= image_tag 'banners/web_design.jpg', size: '1200x244', class: 'banner-img' %>
    </div>

    <div class="previews">
        <%= link_to image_tag('previews/web_design/vesta.jpg', size: '298x205'), '#', class: 'preview-img' %>
        <%= link_to image_tag('previews/web_design/greatings.jpg', size: '298x205'), '#', class: 'preview-img' %>
        <%= link_to image_tag('previews/web_design/algae.jpg', size: '298x205'), '#', class: 'preview-img' %>
    </div>

    <div class="banner">
        <%= image_tag 'banners/marketing_tools.jpg', size: '1200x244', class: 'banner-img' %>
    </div>

    <div class="previews">
        <%= link_to image_tag('previews/marketing_tools/multiculti.jpg', size: '298x205'), '#', class: 'preview-img' %>
        <%= link_to image_tag('previews/marketing_tools/pocket.jpg', size: '298x205'), '#', class: 'preview-img' %>
        <%= link_to image_tag('previews/marketing_tools/endangered.jpg', size: '298x205'), '#', class: 'preview-img' %>
    </div>

    <div class="wood-separator"></div>

    <div class="wood-background">
        <div>
            <%= image_tag 'paper.png', size: '1200x907' %>
        </div>

        <div class="social-buttons">
            <%= mail_to 'hello@seventeastudios.com', image_tag('buttons/contact.png', size: '71x71'), class: 'button contact', target: '_blank' %>
            <%= link_to image_tag('buttons/youtube.png', size: '71x71'), 'http://www.youtube.com/user/SeventeaStudios', class: 'button youtube', target: '_blank' %>
            <%= link_to image_tag('buttons/instagram.png', size: '71x71'), 'http://www.oninstagram.com/profile/seventeastudios', class: 'button instagram', target: '_blank' %>
            <%= link_to image_tag('buttons/facebook.png', size: '71x71'), 'https://www.facebook.com/SeventeaStudios', class: 'button facebook', target: '_blank' %>
        </div>

        <div class="bottom-logo">
            <%= image_tag 'logos/round_logo_93.png', size: '93x93' %>
        </div>

        <div class="copyright">
            <%= image_tag 'copyright.png', size: '358x21' %>
        </div>
    </div>
</div>
